DISCORD_TOKEN=your_discord_token
SYNC_API_BASE_URL=http://localhost:8000
GOOGLE_PROJECT_ID=your_google_project
GOOGLE_CLIENT_EMAIL=your_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_ID=your_google_spreadsheet_id
PROOF_ARCHIVE_CHANNEL_ID=your_archive_channel_id
